.prev-link:lang(en)::before {
    content: "Prev: ";
}

.next-link:lang(en)::before {
    content: "Next: ";
}

.note:lang(en)::before {
    content: "NOTE";
}

.example:lang(en)::before {
    content: "EXAMPLE";
}

.warning:lang(en)::before {
    content: "WARNING";
}
