/*
 * Page styles on desktop.
 */

body {
    background-color: var(--mcd-background);
    color: var(--mcd-background-text);
    --accent: var(--mcd-background-accent);

    display: flex;
    flex-direction: column;
    align-content: center;
}

a {
    color: var(--accent);

    &:hover {
        text-decoration: underline 1px var(--accent);
    }
}

header {
    color: var(--mcd-background-text);
    margin: 4pt auto;
    text-align: center;
}

footer {
    color: var(--mcd-background-text);
    margin: 24pt auto 0;
    text-align: center;
}

article {
    color: var(--mcd-main-text);
    --accent: var(--mcd-main-accent);
}

.sitename {
    font-size: 24pt;
    font-weight: 300;
    margin: 20pt auto 24pt;
    padding: 0;
}

.sitecover {
    font-size: 36pt;
    font-weight: 300;
    margin: 1in auto;
    padding: 0;
}

nav.chapter {
    background-color: var(--mcd-accent-background);
    color: var(--mcd-accent-text);
    --accent: var(--mcd-main-accent);

    margin: auto;
    border-radius: 8pt;
    padding: 4pt 8pt;

    display: flex;
    flex-direction: row;
    gap: 8pt;

    & > div {
        display: block;
        margin: 0;
        padding: 0 1ex;
    }
}

article {
    display: block;
    width: 8in;
    background-color: var(--mcd-main-background);
    border-radius: 12pt;
    margin: 20pt auto;
    padding: 20pt 20pt;
    filter: drop-shadow(0pt 3pt 6pt #00000080);
}
