.prev-link:lang(en)::before {
    content: "Prev: ";
}

.next-link:lang(en)::before {
    content: "Next: ";
}

.note::before {
    content: "NOTE";
}

.example::before {
    content: "EXAMPLE";
}

.warning::before {
    content: "WARNING";
}
