@font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-BoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
}
