body {
    font-family: var(--mcd-main-font);
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent);
}

h1 {
    font-weight: 300;
    font-size: 28pt;
    border-bottom: 2px solid var(--mcd-main-decoration);
    padding: 6pt 0pt;
    margin: 0pt 0pt 12pt;
}

h2, h3 {
    font-size: 20pt;
    margin: 12pt 0pt 0pt;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 300;
}

p, h4, h5, h6 {
    font-weight: normal;
    margin: 6pt 0pt 0pt;
}

h4 {
    font-size: 16pt;
    font-weight: bold;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-weight: bold;
}

p {
    text-align: justify;

    &:lang("en") {
        hyphens: auto;
        -webkit-hyphens: auto;
    }
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}
