:root {
    --mcd-chapter-title-margin: 0pt 0pt 24pt;
    --mcd-section-title-margin: 18pt 0pt 0pt;
    --mcd-paragraph-margin: 12pt 0pt 0pt;
    --mcd-block-margin: 12pt 12pt 0pt;
}

body {
    font-family: var(--mcd-main-font);
    font-size: 12pt;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--accent);
}

h1 {
    font-weight: 300;
    font-size: 28pt;
    border-bottom: 2px solid var(--mcd-main-decoration);
    padding: 0pt 0pt 6pt;
    margin: var(--mcd-chapter-title-margin);
}

h2 {
    font-size: 20pt;
    font-weight: bold;
    margin: var(--mcd-section-title-margin);
}

h3 {
    font-size: 20pt;
    font-weight: 300;
    margin: var(--mcd-section-title-margin);
}

h4 {
    font-size: 16pt;
    font-weight: bold;
    margin: var(--mcd-paragraph-margin);
}

h5 {
    font-size: 16pt;
    font-weight: normal;
    margin: var(--mcd-paragraph-margin);
}

h6 {
    font-size: 16pt;
    font-weight: bold;
    margin: var(--mcd-paragraph-margin);
}

/* Paragraphs and blocks */
p {
    margin: var(--mcd-paragraph-margin);
}

.references {
    display: block;
    font-size: 10pt;
    margin: var(--mcd-paragraph-margin);
}

ol, ul {
    margin: var(--mcd-block-margin);
    padding-inline-start: 24pt;
}

img {
    max-width: 100%;
}

/* Text alignment */
p, li {
    text-align: justify;

    &:lang(en) {
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}

/* Text fonts */
b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

.prev-link::before {
    font-weight: bold;
}

.next-link::before {
    font-weight: bold;
}
