:root {
    --mcd-background: #3a0097;
    --mcd-background-text: #f5effa;
    --mcd-background-accent: #e3b2ff;
    --mcd-main-background: #faf7fd;
    --mcd-main-text: #242221;
    --mcd-main-accent: #6933c1;
    --mcd-main-decoration: #c1a8d8;
    --mcd-comp-background: #ebe2ff;
    --mcd-comp-text: #242221;
    --mcd-comp-accent: #6933c1;

    --mcd-latin-font: "Exo 2 Variable", "Exo 2", Verdana, Helvetica, Arial;
    --mcd-zh-font: "思源黑体", "微软雅黑", "宋体";

    --mcd-main-font: var(--mcd-latin-font), sans-serif;
}

:root:lang(zh) {
    --mcd-main-font: var(--mcd-latin-font), var(--mcd-zh-font), sans-serif;
}
