<!DOCTYPE html>
<html lang="{{ page.language }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            {% if page.title %}{{ page.title }}
            | {% endif %}{{ page.sitename }}
        </title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/exo2.css"/>
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css"/>
    </head>
    <body>
        {{ content }}
    </body>
</html>
